.edit-columns {
    display: none;
}

/* MOBILE */
@media (max-width: 800px) {

.edit-columns {
    display: none;
}

}

/* TABLET */
@media (max-width: 1000px) {

.edit-columns {
    display: block;
}

}

/* DESKTOP */
@media (min-width: 1000px) {

.edit-columns {
    display: block;
}

}